body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    background-image: url(./media/tile.png);
    background-repeat: repeat;
    overflow-x: hidden;
    margin: 0px;
}

.start{
    top: 0px;
    height: 150px;
    width: 100%;
    background-image: url(./media/warningStrip.png);
    background-size: 110px;
    border-bottom: solid rgb(182, 151, 28) 2px;
}

.warningstrip {
    top: 0px;
    height: 35px;
    background-image: url(./media/warningStripEdge.png);
    box-shadow: 0px 10px 10px rgb(73, 73, 73);
}

.lamps {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 0px;
    width: 65%;
    height: 120px;
    max-width: 840px;
    min-width: 590px;
    padding: 0px;
}

.lamp {
    margin-bottom: 0px;
    padding: 0px;
    width: 120px;
}

.headerborder1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 0px;
    width: 65%;
    max-width: 840px;
    min-width: 590px;
    padding: 30px;
    box-shadow: 5px 10px 10px rgb(73, 73, 73);
    background-image: url(./media/greenMetal.png);
    border-radius: 3px;
}

.headerborder0 {
    padding: 10px;
    background-image: url(./media/greenMetal.png);
    border-radius: 3px;
    border: solid rgb(75, 75, 75) 1px;
}

.titlepanel {
    padding: 0px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    border: solid rgb(18, 18, 18) 3px;
    border-radius: 2px;
}

.sublogo {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.tiledivborder {
    height: 32px;
    width: 100%;
    background-image: url(./media/tileBorder.png);
    background-size: 32px;
    border: solid rgb(78, 78, 78) 1px;
}

.tilediv {
    height: 150px;
    width: 100%;
    background-image: url(./media/tileL.png);
    background-size: 50px;
    border: solid rgb(78, 78, 78) 1px;
}

.panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    width: 60%;
    max-width: 800px;
    min-width: 550px;
    color: white;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    box-shadow: 5px 10px 10px rgb(73, 73, 73);
}

.panelline {
    margin-left: 0px;
    margin-top: 20px;
    width: 200%;
    height: 3px;
    background-color: white;
}

.paneltitle {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 8px;
    font-size: 44px;
}

.paneltext {
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 18px;
}

.panelsmalltext {
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 12px;
}

.panelsublogo {
    width: 40px;
    height: 40px;
}

.panellink {
    color: white;
    text-decoration: none;
}

.sky {
    width: 100%;
    height: 1000px;
}

.skycontent {
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: -1;
    background-color: rgb(87, 152, 216);
}

.cloud {
    position: absolute;
    z-index: -2;
}

.tramcable {
    position: absolute;
    margin-left: 0px;
    width: 100%;
    height: 4px;
    background: linear-gradient(180deg, rgb(90, 90, 90) 0%, rgba(43,43,43,1) 50%, rgba(0,0,0,1) 100%);
    z-index: 1;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.footermiddle {
    width: 35%;
    background-color: rgb(235, 0, 8);
    top: 0px;
}

.footerright {
    left: 50%;
    width: 50%;
    height: 100%;
    top: 0px;
}

.footerexit {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 35px;
    font-size: 100px;
    line-height: 80px;
}

.footerarrow {
    padding: 5px;
    height: 95px;
}

.footerlogos {
    margin: 10px;
}

.footersublogo {
    width: 40px;
    height: 40px;
}

.end {
    bottom: 0px;
    height: 200px;
    width: 100%;
    background-image: url(./media/wood.png);
}

.caution {
    top: 0px;
    height: 15%;
    background: repeating-linear-gradient(45deg, #ffd900, #ffd900 20px, #000000 20px, #000000 40px);
}